<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>

<div class="container-fluid">

    <ul class="nav justify-content-end">

      <li class="nav-item">
        <a class="nav-link active" routerLink="/home"><span class="glyphicon glyphicon-home" ></span> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"><span class="glyphicon glyphicon-asterisk" ></span> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/store"><span class="glyphicon glyphicon-th-large" ></span> Entire Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart" ></span> Cart</a>
      </li>

    </ul>
  </div>

<div class="jumbotron" style="padding-top:5px;padding-bottom:5px;">
  <div class="container">
   <img src="../../../assets/slogo.PNG" class="slogo" width="170px"/>
    <h1>Lets Build...</h1>
    <h3>An eCommerce Shopping Cart Project using Angular 4</h3>

  </div>
</div>


