<div class="container-fluid">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" width="1321px">
    </div>
  </ngx-slick>
</div>

<!--<div class="container">-->
  <!--<div class="slider-image">-->
    <!--<img src="../../../assets/slide/thread3.jpg" class="slider-image" width="300px" height="250px"/>-->
    <!--<img src="../../../assets/slide/thread1.jpg" class="slider-image" width="400px" height="250px" />-->
    <!--<img src="../../../assets/slide/thread2.jpg" class="slider-image" width="400px" height="250px" />-->
  <!--</div>-->

<!--</div>-->
