<!--<div class="slider-holder">-->
  <!--<span id="slider-image-1"></span>-->
  <!--<span id="slider-image-2"></span>-->
  <!--<span id="slider-image-3"></span>-->
  <!--<div class="image-holder">-->
    <!--<img src="../../../assets/slide/thread3.jpg" class="slider-image" />-->
    <!--<img src="../../../assets/slide/thread1.jpg" class="slider-image" />-->
    <!--<img src="../../../assets/slide/thread2.jpg" class="slider-image" />-->
  <!--</div>-->
  <!--<div class="button-holder">-->
    <!--<a href="#slider-image-1" class="slider-change"></a>-->
    <!--<a href="#slider-image-2" class="slider-change"></a>-->
    <!--<a href="#slider-image-3" class="slider-change"></a>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <div class="slider-image">
    <img src="../../../assets/slide/thread3.jpg" class="slider-image" width="300px" height="250px"/>
    <img src="../../../assets/slide/thread1.jpg" class="slider-image" width="400px" height="250px" />
    <img src="../../../assets/slide/thread2.jpg" class="slider-image" width="400px" height="250px" />
  </div>

</div>
