<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action " style="color: saddlebrown" data-toggle="list" >Product Categoty Company wise</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" routerLink="/store/product" >King</a>
        <a class="list-group-item list-group-item-action" data-toggle="list"   routerLink="/store/lira-product">Lira</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list"   aria-controls="settings">Penpoly</a>
      </div>
    </div>
    <div class="col-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

